.showArea {
  width: 380px;
  margin: auto;
}

table{
  font-size: 18px;
}

td {
  border-bottom: 1px solid #CFD8DC !important;
  padding-right: 60px;
}

.trBottom {
  height: 80px;
}

.leftArea {
  float: left;
  margin-right: 220px;
  margin-bottom: 60px;
  margin-left: 30px;
}
